/* SHARED STYLES */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Mulish', sans-serif;
    margin: 0px;
}

body{
    max-width: 1440px;
    margin: 55px 135px;
}

.orange-text{
    color: #FF5400;
}

.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 700;
    padding: 12px 16px;
  }
  
  .section-title{
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 24px;
  }
  
  .common-text{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
  }

  .card-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 32px 0px 16px 0px;
 }

/* HEADER STYLES */
/* NAV STYLES */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }
  
  nav .menu{
    display: none;
  }
  
  nav img{
    max-width: 48px;
    max-height: 56px;
  }
  
  .title-container{
    display: flex;
    gap: 16px;
  }
  
  nav ul{
    display: flex;
    gap: 44px;
    align-items: center;
  }
  
  nav li{
    list-style-type: none;
    text-decoration: none;
  }
  
  nav h3{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    margin-top: 0px;
  }

  /* BANNER SECTION STYLES */

  .banner-container{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00)), url('../images/Group 13.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    padding: 106px 185px;
    justify-content: center;
    max-height: 500px;
    margin: 0 0;
    margin-bottom: 100px;
    }

    .banner-container h3{
        color: #FFF;
        font-size: 4rem;
        font-weight: 800;
        margin-bottom: 24px;
        margin-top: 0px;
    }

    .banner-container p{
        color: #FFF;
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px; 
        max-width: 676px;
        margin: 0px auto;
        margin-bottom: 48px;
    }

    .options-menu{
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        display: flex;
        gap: 24px;
        padding: 16px 26px;
        max-width: 768px;
    }

    .banner-container select{
        border-radius: 8px;
        background-color: white;
        max-width: 174px;
        padding-left: 5px;
        padding-right: 30px;
    }

    .banner-container option{
        color: rgba(19, 19, 24, 0.50);
        font-size: 1rem;
        font-weight: 400;
    }

    /* MAIN SECTION STYLES */

    /* POPULAR SECTION STYLES */

    .popular-container{
        display: flex;
        gap: 53px;
        margin-bottom: 100px;
        margin-top: 0px;
        align-items: center;
    }
    
    .popular-container h3{
        margin-top: 0px;
    }
    
    .popular-content{
        max-width: 50%;
    }

    /* .popular-image{
        max-width: 540px;
    } */

    .popular-image img{
        width: 100%;
        height: 500px;
    }

    .popular-container p{
        margin-top: 20px;
        margin-bottom: 18px;
        text-align: left;
    }

    .popular-container ul{
        padding-left: 16px;
    }

    .popular-container li{
        margin-bottom: 12px;
        text-align: left;
    }

    .popular-container .btn-primary{
        margin-top: 8px;
    }

  
    /* DESTINATION SECTION STYLES */

    .destination-container{
        text-align: center; 
        margin-bottom: 60px;    
    }

    .row1 {
        display: flex;
        justify-content: space-between;
      }

    .row2{
        display: flex;
        justify-content: space-between;
        margin-top: -12px;
      }

    .row3{
        display: flex;
        justify-content: space-between;
        margin-top: -16px;
    }

    .destination-images img{
        border-radius: 16px;
        background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;

    }

      .row1 img{
        max-width:  485px;
      }
      
      .row2 .srilanka img{
        max-width:  312px;
      }

      .row2 .north-america img{
        max-width:  397px;
      }

      .row2 .kashmir img{
        max-width:  237px;
      }      

      .row3 .bangladesh img{
        max-width: 400px;
      }

      .row3 .bandarban img{
        max-width: 570px;
      }

      .destination-name {
        margin: 0 0;
        color: white;
        text-align: center;
        font-size: 1.75rem;
        font-weight: 800;
        position: relative;
        bottom: 50%;
    }
  
    .destination-container p{
        max-width: 643px;
        margin: 0 auto;
        /* margin-bottom: 48px; */
    }

    .destination-container .destination-text{
        margin-bottom: 48px;
    }



/* WHY US SECTION STYLES*/

  .why-us-container{
    margin-bottom: 100px;
}

.why-us-container .section-title, .common-text {
    text-align: center;
}

.why-us-container .common-text{
    max-width: 643px;
    margin: 0 auto;
    margin-bottom: 48px;

}

.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    justify-items: center;
}

.card{
    border-radius: 16px;
    padding: 32px;
    margin: 0 auto;
}

.card-1{
    
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
 }

 .card-2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
 }

 .card-3{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    grid-column: span 2 ;
    max-width: 530px;
    
 }

 .why-us-container .card-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
 }

 .why-us-container .card-text{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
 }

 /* REVIEW SECTION STYLES*/

 .reviews-container {
    text-align: center;
    margin-bottom: 100px;
 }

 .reviews-container img{
    max-width: 70px;
    max-height: 70px;
 }

 .reviews-container .common-text{
    max-width: 643px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.reviews-container .review-2:hover, .review-3:hover {
    border: 2px solid rgba(64, 158, 47, 0.485);
}

.reviews-container .review-1:hover, .review-4:hover {
    border: 2px solid rgba(239, 154, 56, 0.695);
}

 .review-1,  .review-4{
    
    border: 2px solid rgba(251, 180, 99, 0.297);
    background: rgba(251, 181, 99, 0.05);
 }

 .review-2, .review-3{
    
    border: 2px solid rgba(122, 251, 99, 0.361);
    background: rgba(159, 215, 106, 0.068);
 }

 .review-1,.review-3{
    text-align: left;
 }

 .review-2,.review-4{
    text-align: right;
 }

 .stars{
    color: #FF5400;
    margin-top: 16px;
    font-size: 2rem;
 }

/* DEALS SECTIONS STYLES */

.deals-container .deal-1{
    background-image: url('../images/Group\ 39.png');
}




    










/* MEDIA QUERIES */

/* FOR MOBILE OR SMALL DEVICES */
@media screen and (max-width: 600px) {

    /* SHARED STYLES */
    body{
        margin-left: 15px;
        margin-right: 20px;
        margin-top: 19px;
        /* max-width: 375px; */
    }
    .section-title{
        font-size: 20px;
        margin-bottom: 16px;
    }
  
    .common-text{
        margin-bottom: 16px;
    }

    /* NAV */
    nav ul{
    display: none;
    }
    nav .menu{
        display: flex;
        /* margin-top: 20px; */
    }

    /* BANNER */
  .banner-container{
    flex-direction: column;
    padding: 32px 17px;
    background-position: center center;
    }

    .banner-container .options-menu{
        flex-direction: column;
        text-align: center;
        max-width: 255px;
        margin-left: auto;
        margin-right: auto;
    }

    .banner-container h3{
        font-size: 22px;
        margin-bottom: 8px;
    }

    .banner-container p3{
        font-size: 0.875rem;
        margin-bottom: 32px;
    }

    .banner-container select{
        margin-top: 0px;
        max-width: 255px;
        padding: 16px 120px 16px 16px;
    }

    .btn-primary{
        max-width: 255px;
    }


    /* POPULAR SECTION */

  .popular-container{
    flex-direction: column;
    gap: 24px;
}

.popular-container li{
    margin-bottom: 12px;
}

.popular-container .btn-primary{
    margin-top: 0px;
    /* margin-bottom: 24px; */
}

.popular-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 0px;
    align-items: center;
}

.popular-content{
    max-width: 100%;
}

/* DESTINATION STYLES */

.destination-container{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

.destination-images {
  align-content: center;
}
.destination-images img{
  width: 480px;
  height: 265px;
  margin-bottom: -8px;
}

.destination-images img{
  max-width: 450px;
  max-height: 265px;
  margin-bottom: -8px;
}

.destination-images .row2 img{
    max-width: 450px;
    max-height: 265px;
    margin-bottom: -8px;
  }

  .destination-images .row3 img{
    max-width: 450px;
    max-height: 265px;
  }

.row1, .row2, .row3{
    flex-direction: column;
    margin-bottom: 14px;
}

.destination-name {
    margin: 0 0;
    font-size: 1.25rem;
    font-weight: 700;
    position: relative;
    bottom: 137.5px;
}

 /* WHY US SECTION STYLES */

 .card-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    margin-top: 0px;
}

.why-us-container .common-text{
    margin-bottom: 16px;
}

/* REVIEW SECTION STYLES */

.reviews-container .card{
    text-align: center;
}


}
